<div class="mat-card-container">

<mat-card>
  <mat-card-content>
    <h3>Nominee Datas</h3>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="datas">
    
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> FirstName </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
       
      </ng-container>
    
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob | date}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element" > {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="mobileNumber">
        <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
        <td mat-cell *matCellDef="let element">{{element.mobileNumber}}</td>
    
      </ng-container>
      <ng-container matColumnDef="idProof">
        <th mat-header-cell *matHeaderCellDef>ID Proof</th>
        <td mat-cell *matCellDef="let element">{{element.idProof}}</td> 
      </ng-container>
      <ng-container matColumnDef="idNumber">
        <th mat-header-cell *matHeaderCellDef>ID Number</th>
        <td mat-cell *matCellDef="let element">{{element.idNumber}}</td> 
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address 1</th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td> 
      </ng-container>
      <ng-container matColumnDef="address2">
        <th mat-header-cell *matHeaderCellDef>Address 2</th>
        <td mat-cell *matCellDef="let element">{{element.address1}}</td> 
      </ng-container>
      <ng-container matColumnDef="address3">
        <th mat-header-cell *matHeaderCellDef>Address 3</th>
        <td mat-cell *matCellDef="let element">{{element.address2}}</td> 
      </ng-container>
      <ng-container matColumnDef="landMark">
        <th mat-header-cell *matHeaderCellDef>Landmark</th>
        <td mat-cell *matCellDef="let element">{{element.landMark}}</td> 
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{element.city}}</td> 
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element">{{element.state}}</td> 
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>EDIT</th>
        <td mat-cell *matCellDef="let element" ><button class="btn btn-danger" routerLink="/editNominee/{{element.id}}" type="button">Edit</button></td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      
    </table>
    </div>
  </mat-card-content>
  </mat-card>
  </div>